@charset "utf-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: black;
    color: white;
    width: 100vw;
    height: 100vh;
}
div{
    height: 90vw;
    width: 90vw;
}
div#a1{
    background: url(/animado/Imagens/Akaza.jpeg);
    border-radius: 15px;
    
}
img{
    width: 150px;
}